@import "../../app/globals.scss";

.marquee_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;

  .text-area {
    text-align: center;
    .red-text {
      color: $red-text;
      font-size: 15px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 2.5rem;
    }

    .heading {
      font-size: $title-font;
      font-weight: 900;
      text-transform: capitalize;
      line-height: 1;
      color: $primary-color;
      letter-spacing: 0.1rem;
      margin-bottom: 2.5rem;
    }

    .desc {
      color: #383838;
      line-height: 1.5;
      margin: 0 8rem;
    }
  }
  .logos {
    width: 80%;
    display: flex;
    padding: 60px 0;
    background: white;
    white-space: nowrap;
    position: relative;
    font-size: 1.2rem;
    line-height: 1;
    gap: 5rem;
    overflow: hidden;
  }

  .logos-slide {
    gap: 5rem;
    display: inline-flex;
    animation: marquee 60s infinite linear;
  }
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
