@import "../../globals.scss";
.dev-page {
  width: 100%;
  overflow: hidden;
  .technical_section {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: auto;
    width: 100%;
    padding: 0 10rem;

    h1 {
      font-size: $title-font;
      font-weight: 900;
      text-transform: capitalize;
      color: $primary-color;
      letter-spacing: 0.1rem;
      margin-bottom: 1rem;
    }

    .details {
      color: #383838;
      line-height: 1.5;
      margin: 0rem 20rem 1rem 20rem;
    }

    .cardContainer {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
      margin-top: 1rem;
    }
  }

  .faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: auto;
    width: 100%;
    padding: 0 10rem;

    .green-text {
      color: #008080;
    }

    h1 {
      font-size: 3rem;
      line-height: 1;
    }
  }
}

@media screen and (max-width:1200px){
  .cardContainer{
    grid-template-columns: repeat(1, 1fr) !important;
  }
}