@import '../../app/globals.scss';

.card{
    width: 360px;
    height: 280px;
    border-radius: 18px;
    box-shadow: 0 6px 4px rgba(0, 0 , 0, 0.1);

    .img_wrapper{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 20px;
    }

    .text_wrapper{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 20px;
        text-align: start;

        .title-text{
            font-weight: 700;
            padding: 0 0 10px 0;
            font-size: 1.25rem;
            line-height: 1.75rem;
            color: $primary-color;
        }

        .desc-text{
            color: #383838;
            font-size: .875rem;
            line-height: 1.25rem;
        }
    }

    &:hover{
        .img_wrapper{
            .image{
                transform: rotate(-12deg);
            }
        }
    }
}