.acc-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    margin-top: 3rem;

    .acc{
        border-bottom: 1px solid #f5f5f5;
        box-shadow: none;
        border-radius: 0;

        #panel1-header{
            color: #545454;
            font-weight: 600;

            &:hover{
                color: #2a4ab3 !important;
            }
        }

        .answer-text{
            color: #111;
            text-align: start;
        }
    }
}